<section class="success" id="works">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{title}}</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" ng-repeat="work in works">
                <h3>
                    <a ng-if="work.url" href="{{work.url}}">{{work.app}}</a>
                    <span ng-if="!work.url">{{work.app}}</span>
                </h3>
                <p ng-if="work.subtitle">{{work.subtitle}}</p>
                <p ng-repeat="p in work.description">{{p}}</p>
                <p><strong>Role:</strong> {{work.role}}</p>
                <p><strong>Client:</strong> {{work.client}}</p>
                <p class="tags">
                    <span ng-repeat="tag in work.keywords">{{tag}} &nbsp;</span>
                </p>
            </div>
        </div>
    </div>
</section>