<md-content layout="row" flex="100" layout-align="center center">
    <md-content layout="column" flex="30" layout-align="center center">
    <md-card>
        <img src="views/extras/edwin.jpg" alt="Edwin Sheldon" title="Profile Photo" />
        <h1 class="center">{{title}}</h1>
        <md-card-content>
            <p class="center">
                <span ng-repeat="skill in messages[lang]">
                    {{skill}}<span ng-show="!$last"> —</span>
                </span>
            </p>
        </md-card-content>
    </md-card>
    </md-content>
</md-content>

<!--<header>-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-12 center-block">-->
                <!--<img class="center-block" src="views/extras/edwin.jpg" alt="Profile Photo" title="Profile Photo">-->
            <!--</div>-->
            <!--<div class="col-lg-12 text-center">-->
                <!--<div class="intro-text">-->
                    <!--<h1 class="name">{{title}}</h1>-->
                    <!--<hr class="star-light">-->
                    <!--<p>-->
                        <!--<span class="skills" ng-repeat="skill in messages[lang]">-->
                            <!--{{skill}}<span ng-show="!$last"> —</span>-->
                        <!--</span>-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</header>-->