
    <div ui-view="nav" flex="100">
        <p>Loading nav...</p>
    </div>
    <md-content layout="column" flex>
        <div ui-view="hero">
            <p>Loading hero...</p>
        </div>

        <div ui-view="about">
            <p>Loading about...</p>
        </div>

        <div ui-view="works">
            <p>Loading portfolio...</p>
        </div>

        <div ui-view="education">
            <p>Loading education...</p>
        </div>

        <div ui-view="footer">
            <p>Loading footer...</p>
        </div>
    </md-content>
